.env
~$*
.ipynb_checkpoints
localtestharness.*
input/
output/
.vscode/
*.log
.pylintrc
EXCL_*
.ropeproject
temp.csv
csvtomd.md
key_data_frame.csv
.DS_Store
data/
nlp_output/
parsed_nlp_output/
projects/test/
__*
.RHistory
.python-version
dist/
*.egg-info
my_secrets.py
site/*